= f.fields_for :exercise_sets do |exercise_set_form|

  -if exercise_set_form.object.exercise
    %h4.exercise_set_header
      = exercise_set_form.object.to_string

    -if exercise_set_form.object.weight_required == true
      .field.complete_form
        = exercise_set_form.label :achieved_weight, "Weight (kg):", class: "form_label"
        =exercise_set_form.number_field :achieved_weight, min: 0, step: 0.5, class: "weight_entry"
        -unless exercise_set_form.object.suggested_weight.blank?
          ="target: #{exercise_set_form.object.suggested_weight}kg"
    .field.complete_form
      =exercise_set_form.label :notes, "Notes:", class: "form_label"
      =exercise_set_form.text_field :notes, class: "notes_entry"

  -else
    %br

