// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_center {
  text-align: center;
}

.full_width {
  width: 60%;
  margin-top: 0.5em;
}

.half_width {
  width: 30%;
  margin-top: 0.5em
}

.save_button {
  display: block;
  margin: auto;
  margin-top: 0.5em;
}

.field {
  display: inline-block;
}


ul.exercise_set {
  padding-left: 0px;
  // padding: 0.5em;
  margin-bottom: 0px;
}

ul.exercise_set li {
  list-style: none;
  display: inline-block;
  margin-right: 0.3em;
  border-radius: 3px;
  background: #eeeeee;
  padding: 0.1em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  margin-top: 0.3em;
}

.exercise_set_header {
  font-weight: bold;
  margin: 0px;
  margin-top: 1em;

}

.weight_entry {
  width: 5em;
  margin-left: 0.3em;
}

.notes_entry {
  width: 85%;

}

.form_label {
  font-weight: normal;
}

.complete_form {
  display: block;
  margin-right: 0.3em;
  margin-top: 0.3em;
  padding-left: 0.5em;
  width: 100%;

}