// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary: rgb(0, 126, 254);
$default: rgb(34,34,34);
$success: rgb(63,182,24);
$warning: rgb(255,117,24);
$danger: rgb(255, 0, 57);
$info: rgb(153, 84, 187);
$danger_light: rgb(255,90,126);
$success_light: rgb(130,208,105);
$default_light: rgb(112,112,112);
$info_light: rgb(189,144,211);


.button_center {
  text-align: center;
  padding-top: 1em;

}

.full_width {
  width: 60%;
  margin-top: 0.5em;
}

.half_width {
  width: 30%;
  margin-top: 0.5em
}

.save_button {
  display: block;
  margin: auto;
  margin-top: 0.5em;
}

.field {
  display: inline-block;
}


ul.exercise_set {
  padding-left: 0px;
  // padding: 0.5em;
  margin-bottom: 0px;
}

ul.exercise_set li {
  list-style: none;
  display: inline-block;
  margin-right: 0.3em;
  border-radius: 3px;
  background: #eeeeee;
  padding: 0.1em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  margin-top: 0.3em;
}

.exercise_set_header {
  font-weight: bold;
  margin: 0px;
  margin-top: 1em;

}

.weight_entry {
  width: 5em;
  // margin-left: 0.3em;
}

.notes_entry {
  display: inline-block;
  width: 69%


}

.form_label {
  font-weight: normal;
  background: #eeeeee;
  border-radius: 3px;
  padding: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  width: 30%;
  text-align: right;
}

.complete_form {
  display: block;
  margin-right: 0.3em;
  margin-top: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;

}

ul.workout_list {
  padding: 0px;
}

ul.workout_list li {
  list-style: none;
  padding: 0.25em;
  position: relative;
  border: 2px solid #eeeeee;
  border-radius: 4px;
  margin-bottom: 0.25em;
  color: $default_light

}

ul.workout_list p {
  font-size: 0.8em;
  margin: 0;

}

ul.workout_list p.completion {
  font-weight: bold;
  font-style: italic;

}


ul.workout_list h5 {
  font-weight: bold;
  margin-bottom: 0.25em;
  margin-top: 0;
  padding-right: 2.5em;

}

ul.workout_list li .btn {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
}

.pages {
  display: block;
  width: 100%;
  position: relative;
  height: 1em;
}

.prev_page {
  position: absolute;
  left: 0
}

.next_page {
  position:absolute;
  right: 0
}

li.overdue {
  border: 1px solid $danger_light !important;

}

li.due {
  border: 1px solid $success_light !important;
}

li.overdue p.completion {
  color: $danger;
}

li.due p.completion {
  color: $success;
}





li.completed {
  border: 1px solid $info_light !important;
 }

li.completed p.completion {
  color: $info;
}


